/*
* Theme CSS when JavaScript is disabled or not available, tries to degrade gracefully when possible
*
* https://ultrafunk.com
*
*/

:root {
  --site-header-full: 0px;
  --site-header-full-no-playback: 0px;
  --site-header-mobile: 0px;
  --site-header-mobile-no-playback: 0px;

  --link-hover-color: #dd0000;

  --site-theme-color: #0a1428;
  --site-theme-font-color: #efefef;
  --site-theme-icon-color: #fff;

  --button-border-radius: 6px;
  --dialog-border-radius: 10px;

  --body-background-focus: #fff;
  --body-background-blurred: #ddd;
  --branding-logo-filter: unset;

  --primary-font-color: #111;
  --primary-icon-color: #000;

  --control-hover-opacity: 0.66;
  --control-disabled-opacity: 0.15;
  --control-content-disabled-opacity: 0.2;
  --control-disabled-background-rgba: rgba(127, 127, 127, 0.26);

  --button-text-color: #fff;
  --button-background-color: #777;
  --button-background-hover-rgba: rgba(0, 0, 0, 0.75);

  --intro-banner-background: #505050;
  --intro-banner-button-background: #323232;

  --form-search-field-background: #eee;
  --form-search-field-background-focus: #fff;
  --form-search-field-outline: none !important;
  --form-search-field-border: 2px solid #ddd;
  --form-search-field-border-focus: 2px solid #bbb;
  --form-input-autofill-box-shadow: 0 0 0 50px #fff inset;

  --date-page-border-color: #888;
  --page-numbers-background: rgba(127, 127, 127, 0.15);
  --page-numbers-background-hover: rgba(127, 127, 127, 0.3);
  
  --list-row-odd-color: #eee;
  --list-row-hover-color: #bbb;

  /*
  --header-gradient-bg-blur: linear-gradient(0deg, rgba(230, 230, 230, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%);
  --header-gradient-bg-blur: linear-gradient(0deg, rgba(230, 230, 230, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%);
  --header-gradient-no-blur: linear-gradient(0deg, rgba(230, 230, 230, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%);
  */

  --header-gradient-no-blur: linear-gradient(0deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#site-header {
  position: relative;
}
