/*
* Termlist UI
*
* https://ultrafunk.com
* 
*/

.site-theme-light {
  --artist-letter-hover: #ccc;
  --artist-letter-current: #ddd;
  --border-top-even-row: 2px solid #ccc;
  --border-top-odd-row: 2px solid #ccc;
}

.site-theme-dark {
  --artist-letter-hover: #555;
  --artist-letter-current: #444;
  --border-top-even-row: 2px solid #555;
  --border-top-odd-row: 2px solid #555;
}

.artist-letters-container {
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.artist-letter {
  margin: 0 1px 1px 0;
}

.artist-letter a {
  text-transform: uppercase;
  display: block;
  width: 37px;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
  text-decoration: none;
  border-radius: var(--button-border-radius);
}

.artist-letter a:hover {
  font-weight: 700;
  text-decoration: none;
  background-color: var(--artist-letter-hover);
}

.artist-letter.current a {
  font-weight: 700;
  background-color: var(--artist-letter-current);
}

.artist-letter.current a:hover {
  color: var(--primary-font-color);
}

#termlist-container {
  box-sizing: border-box;
  width: 100%;
}

.termlist-title {
  border-radius: var(--button-border-radius);
  background-color: var(--list-row-odd-color);
  padding: 10px 15px;
}

.termlist-header {
  display: flex;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--button-border-radius);
}

.termlist-header.odd {
  background-color: var(--list-row-odd-color);
}

.termlist-entry.open .termlist-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media all and (pointer: fine) {
 
  .termlist-header:hover {
    background: var(--list-row-hover-color);
    cursor: pointer;
 }

}

@media not all and (pointer: fine) {

  .termlist-header.odd {
    background: var(--list-row-odd-color);
    transition: background 100ms 0s ease-in;
  }

  .termlist-header.even {
    transition: background 100ms 0s ease-in;
  }

  .termlist-header:active {
    background: var(--list-row-hover-color);
    transition: background 0s;
  }

}

.termlist-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
}

.termlist-icons {
  display: inline-flex;
}

.termlist-icons .material-icons {
  font-size: 33px;
}

.termlist-icons .play-button a,
.termlist-icons .shuffle-button a {
  display: inline-flex;
  padding: 11px 11px;
  text-decoration: none;
  color: var(--primary-icon-color);
  user-select: none;
}

.termlist-icons .play-button a:hover,
.termlist-icons .shuffle-button a:hover {
  color: var(--link-hover-color);
}

.termlist-icons .share-find-button,
.termlist-icons .expand-toggle {
  width: 33px;
  height: 33px;
  padding: 11px 11px 11px 11px;
  color: var(--primary-icon-color);
  user-select: none;
}

@media all and (pointer: fine) {
 
  .termlist-icons .play-button:hover,
  .termlist-icons .shuffle-button:hover,
  .termlist-icons .share-find-button:hover,
  .termlist-icons .expand-toggle:hover {
    background-color: var(--control-highlight-color);
  }
  
}

@media not all and (pointer: fine) {

  .termlist-icons .play-button,
  .termlist-icons .shuffle-button,
  .termlist-icons .share-find-button {
    transition: background 100ms 0s ease-in;
  }

  .termlist-icons .play-button:active,
  .termlist-icons .shuffle-button:active,
  .termlist-icons .share-find-button:active {
    background-color: var(--control-highlight-color);
    transition: background 0s;
  }

}

.termlist-body {
  display: none;
  border-top: var(--border-top-even-row);
  border-bottom-left-radius: var(--button-border-radius);
  border-bottom-right-radius: var(--button-border-radius);
  padding: 20px 30px 28px 30px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
  justify-content: space-between;
}

.termlist-body.odd {
  background-color: var(--list-row-odd-color);
  border-top: var(--border-top-odd-row);
}

.body-left {
  margin-right: 5%;
  width: 60%;
}

.term-categories .body-left {
  width: 75%;
}

.body-left a,
.body-right a {
  text-decoration: none;
}

.body-left a:hover,
.body-right a:hover {
  text-decoration: underline;
}

.body-right {
  text-align: right;
  width: 35%;
}

.term-categories .body-right {
  width: 20%;
}

.body-right .artists,
.body-right .channels {
  margin-top: 15px;
}

.body-left .track {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  height: 36px;
  margin-top: 12px;  
}

.body-left .track:first-of-type {
  margin-top: 8px;
}

.body-left .thumbnail {
  margin-right: 10px;
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.body-left .thumbnail img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.body-left .thumbnail.type-youtube img {
  height: 48px;
  margin-top: -6px;
}

.body-left .thumbnail-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.body-left .thumbnail-overlay .material-icons {
  font-size: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 3px;
  color: #fff;
}

.body-left .thumbnail-overlay:hover {
  opacity: 1;
}

.body-left .artist-title {
  display: inline-block;
}


/**************************************************************************************************
* Responsive
***************************************************************************************************/

@media screen and (max-width: 1350px) {
 
  .artist-letters-container,
  #termlist-container {
    padding-left: 75px;
    padding-right: 75px;
  }

}

@media screen and (max-width: 1100px) {
 
  .artist-letter a {
    width: 40px;
  }

  .termlist-icons .material-icons {
    font-size: 30px;
  }

  .termlist-icons .play-button a,
  .termlist-icons .shuffle-button a {
    padding: 10px 10px;
  }
  
  .termlist-icons .share-find-button,
  .termlist-icons .expand-toggle {
    width: 30px;
    height: 30px;
    padding: 10px 10px 10px 10px;
  }

  .termlist-body,
  .termlist-body .body-right {
    font-size: unset;
    line-height: unset;
  }

}

@media screen and (max-width: 900px) {
  
  .artist-letters-container,
  #termlist-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .artist-letters-container {
    margin-bottom: 50px;
  }

  .termlist-body {
    padding: 12px 15px 17px 15px;
  }
  
}

@media screen and (max-width: 768px) {
  
  .artist-letters-container,
  #termlist-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .artist-letters-container {
    margin-bottom: 40px;
  }

  .termlist-icons .material-icons {
    font-size: 26px;
  }

  .termlist-icons .share-find-button,
  .termlist-icons .expand-toggle {
    width: 26px;
    height: 26px;
  }

  .termlist-body {
    flex-wrap: wrap;
  }

  .body-left,
  .term-categories .body-left {
    margin: 0;
    margin-top: 15px;
    width: 100%;
  }

  .body-right,
  .term-categories .body-right {
    text-align: left;
    order: -1;
    white-space: normal;
    width: 100%;
  }

  .body-left .track:first-of-type {
    margin-top: 6px;
  }
  
}

@media screen and (max-width: 500px) {
  
  .artist-letters-container,
  #termlist-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .artist-letters-container {
    margin-bottom: 32px;
  }

  .termlist-title {
    padding: 12px 15px;
  }

  .termlist-icons .material-icons {
    font-size: 23px;
  }

  .termlist-icons .play-button a,
  .termlist-icons .shuffle-button a {
    padding: 12px 12px;
  }
  
  .termlist-icons .share-find-button,
  .termlist-icons .expand-toggle {
    width: 23px;
    height: 23px;
    padding: 12px 12px 12px 12px;
  }

}
