/*
* Playback UI controls
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --progress-bar-color: #dd0000;
  --progress-bar-color-autoplay-off: #4080ff;
    
  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-autoplay-off: #3264c8;
  --playback-play-pause-hover-color-autoplay-off: #4080ff;
}

.site-theme-dark {
  --progress-bar-color: #dd0000;
  --progress-bar-color-autoplay-off: #4080ff;

  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-autoplay-off: #3264c8;
  --playback-play-pause-hover-color-autoplay-off: #4080ff;
}


/**************************************************************************************************
* Progress controls
***************************************************************************************************/

#progress-controls {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

#progress-controls .seek-control {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
  z-index: 100;
}

#progress-controls .seek-control.state-disabled {
  pointer-events: none;
  cursor: default;
}

#progress-controls .bar-control {
  background: var(--progress-bar-color);
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

body.autoplay-off #progress-controls .bar-control {
  background: var(--progress-bar-color-autoplay-off);
}


/**************************************************************************************************
* Playback controls
* - Details:      Artist + title
* - Thumbnail:    Track image
* - Timer:        Track position and duration
* - Previous:     Prev track + seek to start
* - Play / Pause: Playback state toggle (autoplay and DJ-mode)
* - Next:         Next track
* - Shuffle       Shuffle All, Artist or Channel
* - Mute          Master mute
***************************************************************************************************/

#playback-controls {
  line-height: 0;
  float: right;
  display: flex;
  align-items: center;  
  height: 64px;
  margin-right: -8px;
  min-width: 0;
}

#playback-controls .material-icons {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

#playback-controls .details-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  padding: 5px 10px;
  color: var(--primary-icon-color);
  user-select: none;
  cursor: pointer;
}

#playback-controls .details-control .details-artist {
  font-weight: 700;
}

#playback-controls .details-control:hover {
  opacity: var(--control-hover-opacity);
}

#playback-controls .thumbnail-control {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 25px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--button-border-radius);
}

#playback-controls .thumbnail-control.state-disabled {
  display: none;
}

#playback-controls .thumbnail-control.loading {
  border-radius: var(--button-border-radius);
  background-color: var(--control-disabled-background-rgba);
}

#playback-controls .thumbnail-control img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#playback-controls .thumbnail-control.type-youtube img {
  height: 68px;
  margin-top: -9px;
}

#playback-controls .timer-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  margin-right: 10px;
  color: var(--primary-icon-color);
  user-select: none;
  min-width: 38px;
  cursor: pointer;
}

#playback-controls .prev-control,
#playback-controls .play-pause-control,
#playback-controls .next-control,
#playback-controls .shuffle-control,
#playback-controls .mute-control {
  display: inline-block;
  user-select: none;
}

#playback-controls .prev-control.state-disabled,
#playback-controls .play-pause-control.state-disabled,
#playback-controls .next-control.state-disabled,
#playback-controls .mute-control.state-disabled {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  pointer-events: none;
}

#playback-controls .prev-control.state-disabled:hover,
#playback-controls .play-pause-control.state-disabled:hover,
#playback-controls .next-control.state-disabled:hover,
#playback-controls .mute-control.state-disabled:hover {
  opacity: var(--control-disabled-opacity);
  cursor: default;
}

#playback-controls .play-pause-control {
  color: var(--playback-play-pause-color);
  cursor: pointer;
}

#playback-controls .play-pause-control:hover {
  color: var(--playback-play-pause-hover-color);
}

body.autoplay-off #playback-controls .play-pause-control.state-playing,
body.autoplay-off #playback-controls .play-pause-control.state-paused {
  color: var(--playback-play-pause-color-autoplay-off);
}

body.autoplay-off #playback-controls .play-pause-control:hover {
  color: var(--playback-play-pause-hover-color-autoplay-off);
}

#playback-controls .play-pause-control.state-playing,
#playback-controls .play-pause-control.state-paused {
  background-image: url(../../../inc/img/play_pause_bg_filler.png);
  background-repeat: no-repeat;
  background-position: center;
}

body.autoplay-off #playback-controls .play-pause-control.state-playing.time-remaining-warning {
  opacity: 0.25;
}

#playback-controls .prev-control,
#playback-controls .next-control,
#playback-controls .mute-control {
  color: var(--primary-icon-color);
  cursor: pointer;
}

#playback-controls .prev-control:hover,
#playback-controls .next-control:hover,
#playback-controls .mute-control:hover {
  opacity: var(--control-hover-opacity);
}

#playback-controls .shuffle-control .material-icons {
  font-size: 32px;
  width: 32px;
  height: 32px;
  padding: 5px;
}

#playback-controls .shuffle-control.state-disabled a {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-disabled a:hover {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-enabled a {
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-enabled a:hover {
  color: var(--link-hover-color);
  display: inline-block;
}

#playback-controls .mute-control {
  margin-left: 7px;
}

#playback-controls .mute-control .material-icons {
  font-size: 32px;
  width: 32px;
  height: 32px;
  padding: 5px;
}


/**************************************************************************************************
* "Unstick" all hover styles when using touch input
***************************************************************************************************/

@media not all and (pointer: fine) {

  #playback-controls .details-control {
    color: var(--primary-font-color);
  }

  #playback-controls .details-control:hover {
    color: var(--primary-font-color);
    opacity: 1;
  }
    
  #playback-controls .play-pause-control {
    color: var(--playback-play-pause-color);
  }

  #playback-controls .play-pause-control:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color);
    opacity: 1;
  }

  body.autoplay-off #playback-controls .play-pause-control.state-playing,
  body.autoplay-off #playback-controls .play-pause-control.state-paused {
    color: var(--playback-play-pause-color-autoplay-off);
  }

  body.autoplay-off #playback-controls .play-pause-control:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color-autoplay-off);
    opacity: 1;
  }

  #playback-controls .prev-control,
  #playback-controls .next-control,
  #playback-controls .mute-control {
    color: var(--primary-icon-color);
  }

  #playback-controls .prev-control:hover,
  #playback-controls .next-control:hover,
  #playback-controls .mute-control:hover {
    color: var(--primary-icon-color);
    opacity: 1;
  }

}


/**************************************************************************************************
* Now playing icons (indicates currently playing track)
***************************************************************************************************/

.now-playing-icon::before {
  color: #ff0000;
}

body.autoplay-off .now-playing-icon::before {
  color: #0080ff;
}

.playing-animate::before,
body.autoplay-off .playing-animate::before {
  animation: track-icon-pulse 2s ease-in-out infinite;
}

@keyframes track-icon-pulse {
  50% { opacity: 0.10; }
}

.playing-paused::before {
  animation-play-state: paused !important;
}


/**************************************************************************************************
* Responsive
***************************************************************************************************/

@media screen and (max-width: 1050px) {

  #playback-controls {
    margin-right: -15px;
  }
  
  #playback-controls .details-control {
    margin-right: 0px;
  }

  #playback-controls .thumbnail-control {
    display: none;
  }

  #playback-controls .timer-control {
    display: none;
  }

  #playback-controls .shuffle-control {
    display: none;
  }

  #playback-controls .mute-control {
    display: none;
  }
 
}

@media screen and (max-width: 700px) {

  #playback-controls {
    min-width: auto;
  }

  #playback-controls .details-control {
    display: none;
  }

}

@media screen and (max-width: 500px) {

  #playback-controls {
    margin-right: -11px;
    height: 48px;
    max-width: calc(100% + 11px);
    width: calc(100% + 11px);
  }
  
  #playback-controls .material-icons {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  #playback-controls .details-control {
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin-right: 4px;
    text-align: left;
    width: 100%;
  }

  #playback-controls .thumbnail-control.show-on-mobile {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    order: -1;
  }

  #playback-controls .thumbnail-control img {
    width: 40px;
    height: 40px;
  }

  #playback-controls .thumbnail-control.type-youtube img {
    height: 54px;
    margin-top: -7px;
  }
  
  #playback-controls .timer-control {
    font-size: 13px;
    line-height: 18px;
    min-width: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #playback-controls .timer-control.show-on-mobile,
  body.autoplay-off #playback-controls .timer-control {
    display: inline-block;
    margin-right: 4px;
    margin-left: 9px;
  }
  
}
