/**************************************************************************************************
* Sticky navigation menu
***************************************************************************************************/

#site-header.sticky-nav-down .site-header-container {
  padding-bottom: 8px;
}

.sticky-nav-down #site-navigation {
  /*
  display: none;
  */
  animation: stickyNavDown 2.33s;
  animation-fill-mode: forwards;
}

body.no-playback #site-header.sticky-nav-down {
  /*
  display: none;
  */
  animation: stickyNavDown 2.33s;
  animation-fill-mode: forwards;
}

@keyframes stickyNavDown {
  from { opacity: 1; }
    to { opacity: 0; display: none; }
}

@media screen and (max-width: 500px) {

  /*
  #site-header.sticky-nav-down .site-header-container,
  */
  #site-header.sticky-nav-up .site-header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
 
  #site-header.sticky-nav-down #playback-controls,
  #site-header.sticky-nav-up #playback-controls {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  /*
  .sticky-nav-down .site-branding,
  */
  .sticky-nav-up .site-branding {
    display: none;
  }

  .sticky-nav-up #site-navigation {
    padding-top: 0;
    padding-bottom: 10px;
  }

  body.no-playback .sticky-nav-up #site-navigation {
    padding-top: 12px;
    padding-bottom: 12px;
  }

}


/**************************************************************************************************
* Flyout menu toggle
***************************************************************************************************/

#site-header.hide-nav-menu .nav-menu-outer {
  display: none;
}

/*
* These two needs to be here (after Sticky navigation and Flyout menu)
* to make tri-state menus function normally
*/
.sticky-nav-down #site-navigation .nav-menu-outer,
.sticky-nav-up #site-navigation .nav-menu-outer {
  display: none;
}

.sticky-nav-down #site-navigation .nav-bar-container,
.sticky-nav-up #site-navigation .nav-bar-container {
  display: flex;
}

@media screen and (max-width: 500px) {

  .sticky-nav-down #site-navigation .nav-bar-container,
  /*
  .sticky-nav-down #site-navigation .nav-bar-container-mobile-top,
  */
  .sticky-nav-down #site-navigation .nav-bar-container-mobile-up {
    display: none;
  }

  .sticky-nav-up #site-navigation .nav-bar-container,
  .sticky-nav-up #site-navigation .nav-bar-container-mobile-top {
    display: none;
  }

  .sticky-nav-up #site-navigation .nav-bar-container-mobile-up {
    display: flex;
  }

}
