/*
* playback-controls.css
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --progress-bar-color: #dd0000;
  --progress-bar-color-no-autoplay: #4080ff;
    
  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-no-autoplay: #3264c8;
  --playback-play-pause-hover-color-no-autoplay: #4080ff;
}

.site-theme-dark {
  --progress-bar-color: #dd0000;
  --progress-bar-color-no-autoplay: #4080ff;

  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-no-autoplay: #3264c8;
  --playback-play-pause-hover-color-no-autoplay: #4080ff;
}

#progress-controls {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

#progress-controls .seek-control {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
  z-index: 100;
}

#progress-controls .seek-control.state-disabled {
  pointer-events: none;
  cursor: default;
}

#progress-controls .bar-control {
  background: var(--progress-bar-color);
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

#progress-controls .bar-control.no-autoplay {
  background: var(--progress-bar-color-no-autoplay);
}

#playback-controls {
  line-height: 0;
  float: right;
  display: flex;
  align-items: center;  
  height: 64px;
  margin-right: -8px;
  min-width: 0;
}

#playback-controls .material-icons {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

#playback-controls .details-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  padding: 5px 10px;
  color: var(--primary-icon-color);
  user-select: none;
  cursor: pointer;
}

#playback-controls .details-control .details-artist {
  font-weight: 700;
}

#playback-controls .details-control:hover {
  opacity: var(--control-hover-opacity);
}

#playback-controls .thumbnail-control {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  display: inline-block;
  cursor: pointer;
}

#playback-controls .thumbnail-control.state-disabled {
  display: none;
}

#playback-controls .thumbnail-control.loading {
  border-radius: 7px;
  background-color: var(--control-disabled-background-rgba);
}

body.single #playback-controls .thumbnail-control {
  display: none;
}

#playback-controls .thumbnail-control img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 7px;
}

#playback-controls .timer-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  margin-right: 10px;
  color: var(--primary-icon-color);
  user-select: none;
  min-width: 38px;
}

#playback-controls .prev-control,
#playback-controls .play-pause-control,
#playback-controls .next-control,
#playback-controls .shuffle-control,
#playback-controls .mute-control {
  display: inline-block;
}

#playback-controls .prev-control.state-disabled,
#playback-controls .play-pause-control.state-disabled,
#playback-controls .next-control.state-disabled,
#playback-controls .mute-control.state-disabled {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  pointer-events: none;
}

#playback-controls .prev-control.state-disabled:hover,
#playback-controls .play-pause-control.state-disabled:hover,
#playback-controls .next-control.state-disabled:hover,
#playback-controls .mute-control.state-disabled:hover {
  opacity: var(--control-disabled-opacity);
  cursor: default;
}

#playback-controls .play-pause-control {
  color: var(--playback-play-pause-color);
  cursor: pointer;
}

#playback-controls .play-pause-control:hover {
  color: var(--playback-play-pause-hover-color);
}

#playback-controls .play-pause-control.no-autoplay.state-play,
#playback-controls .play-pause-control.no-autoplay.state-pause {
  color: var(--playback-play-pause-color-no-autoplay);
}

#playback-controls .play-pause-control.no-autoplay:hover {
  color: var(--playback-play-pause-hover-color-no-autoplay);
}

#playback-controls .play-pause-control.state-play,
#playback-controls .play-pause-control.state-pause {
  background-image: url(../../img/play_pause_bg_filler.png);
  background-repeat: no-repeat;
  background-position: center;
}

#playback-controls .play-pause-control.no-autoplay.state-pause.time-remaining-warning {
  opacity: 0.25;
}

#playback-controls .prev-control,
#playback-controls .next-control,
#playback-controls .mute-control {
  color: var(--primary-icon-color);
  cursor: pointer;
}

#playback-controls .prev-control:hover,
#playback-controls .next-control:hover,
#playback-controls .mute-control:hover {
  opacity: var(--control-hover-opacity);
}

#playback-controls .shuffle-control .material-icons {
  font-size: 32px;
  width: 32px;
  height: 32px;
  padding: 5px;
}

#playback-controls .shuffle-control.state-disabled a {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-disabled a:hover {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-enabled a {
  color: var(--primary-icon-color);
  display: inline-block;
}

#playback-controls .shuffle-control.state-enabled a:hover {
  color: var(--link-hover-color);
  display: inline-block;
}

#playback-controls .mute-control {
  margin-left: 7px;
}

#playback-controls .mute-control .material-icons {
  font-size: 32px;
  width: 32px;
  height: 32px;
  padding: 5px;
}

@media not all and (pointer: fine) {

  #playback-controls .details-control {
    color: var(--primary-font-color);
  }

  #playback-controls .details-control:hover {
    color: var(--primary-font-color);
    opacity: 1;
  }
    
  #playback-controls .play-pause-control {
    color: var(--playback-play-pause-color);
  }

  #playback-controls .play-pause-control:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color);
    opacity: 1;
  }

  #playback-controls .play-pause-control.no-autoplay.state-play,
  #playback-controls .play-pause-control.no-autoplay.state-pause {
    color: var(--playback-play-pause-color-no-autoplay);
  }

  #playback-controls .play-pause-control.no-autoplay:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color-no-autoplay);
    opacity: 1;
  }

  #playback-controls .prev-control,
  #playback-controls .next-control,
  #playback-controls .mute-control {
    color: var(--primary-icon-color);
  }

  #playback-controls .prev-control:hover,
  #playback-controls .next-control:hover,
  #playback-controls .mute-control:hover {
    color: var(--primary-icon-color);
    opacity: 1;
  }

}

.now-playing-icon::before {
  color: #ff0000;
}

.now-playing-icon.no-autoplay::before {
  color: #0080ff;
}

.playing-animate::before,
.playing-animate.no-autoplay::before {
  animation: track-icon-pulse 2s ease-in-out infinite;
}

@keyframes track-icon-pulse {
  50% { opacity: 0.10; }
}

.playing-paused::before {
  animation-play-state: paused !important;
}

@media screen and (max-width: 1050px) {

  #playback-controls {
    margin-right: -15px;
  }
  
  #playback-controls .details-control {
    margin-right: 0px;
  }

  #playback-controls .thumbnail-control {
    display: none !important;
  }

  #playback-controls .timer-control {
    display: none !important;
  }

  #playback-controls .shuffle-control {
    display: none !important;
  }

  #playback-controls .mute-control {
    display: none !important;
  }
 
}

@media screen and (max-width: 650px) {

  #playback-controls {
    min-width: auto;
  }

  #playback-controls .details-control {
    display: none !important;
  }

}

@media screen and (max-width: 500px) {

  #playback-controls {
    margin-right: -11px;
    height: 48px;
    max-width: calc(100% + 12px);
  }
  
  #playback-controls .material-icons {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  #playback-controls .details-control {
    font-size: 13px;
    line-height: 18px;
    display: inline-block !important;
    padding-right: 0;
    padding-left: 0;
    margin-right: 5px
  }

  #playback-controls .details-control.no-autoplay {
    margin-right: 14px
  }

  #playback-controls .timer-control.no-autoplay {
    display: inline-block !important;
    margin-right: 4px;
  }
  
}
