/*
* Modal dialog UI
*
* https://ultrafunk.com
* 
*/

.site-theme-light {
  --modal-background-color: #fff;
}

.site-theme-dark {
  --modal-background-color: #444;
}

#modal-dialog {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  align-items: center;
  outline: 0;
}

#modal-dialog:focus {
  outline: 0;
}

.modal-dialog-container {
  padding: 15px 0 12px 0;
  min-width: 460px;
  max-width: 600px;
  background-color: var(--modal-background-color);
  color: var(--primary-font-color);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--dialog-border-radius);
  cursor: auto;
}

.modal-dialog-header {
  display: flex;
  padding: 0 30px 5px 30px;
  align-items: center;
  justify-content: space-between;
}

.modal-dialog-title,
.modal-dialog-body-title {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-dialog-body-title {
  padding: 20px 30px 10px 30px; 
}

.modal-dialog-close-button {
  display: inline-flex;
  color: var(--primary-icon-color);
  padding: 0px 0px 0px 15px;
  width: 40px;
  height: 40px;
  user-select: none;
  margin-right: -10px;
}

.modal-dialog-close-button .material-icons {
  font-size: 40px;
  cursor: pointer;
}

.modal-dialog-close-button:hover {
  opacity: var(--control-hover-opacity);
}

.modal-dialog-body-text {
  font-size: 20px;
  line-height: 25px;
  padding: 8px 30px;
}

.modal-dialog-single-choice {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  padding: 12px 30px;
  display: block;
  cursor: pointer;
}

.modal-dialog-single-choice:hover {
  color: var(--link-hover-color);
  background-color: var(--list-row-odd-color);
}

#modal-dialog.show {
  display: flex;
  animation: modal-dialog-show 250ms;
}

@keyframes modal-dialog-show {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#modal-dialog.hide {
  display: flex;
  animation: modal-dialog-hide 150ms;
}

@keyframes modal-dialog-hide {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@media screen and (max-width: 500px) {
  
  .modal-dialog-container {
    width: 100%;
    min-width: unset;
    padding: 10px 0 6px 0;
    margin: 0 20px 0 20px;
  }

  .modal-dialog-header {
    padding: 0 20px 5px 20px;
  }

  .modal-dialog-title,
  .modal-dialog-body-title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal-dialog-body-title {
    padding: 20px 20px 10px 20px;
  }
  
  .modal-dialog-close-button {
    width: 32px;
    height: 32px;
    margin-right: -5px;
  }

  .modal-dialog-close-button .material-icons {
    font-size: 32px;
  }

  .modal-dialog-body-text {
    font-size: 15px;
    line-height: 20px;
    padding: 9px 20px;
  }

  .modal-dialog-single-choice {
    font-size: 15px;
    line-height: 15px;
    padding: 12px 20px;
  }

}
