/*
* Snackbar UI
*
* https://ultrafunk.com
* 
*/

.site-theme-light {
  --snackbar-background-color: #444;
  --snackbar-text-color: #fff;
  --snackbar-action-button-color: #4b96ff;
  --snackbar-action-button-hover-color: #dd0000;
  --snackbar-close-button-color: #999;
  --snackbar-close-button-hover-color: #fff;
}

.site-theme-dark {
  --snackbar-background-color: #555;
  --snackbar-text-color: #fff;
  --snackbar-action-button-color: #4b96ff;
  --snackbar-action-button-hover-color: #dd0000;
  --snackbar-close-button-color: #999;
  --snackbar-close-button-hover-color: #fff;
}

#snackbar {
  display: flex;
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 800;
  bottom: 25px;
  justify-content: center;
}

#snackbar .snackbar-container {
  display: flex;
  margin: 0 25px;
  padding: 15px 22px 15px 30px;
  max-width: 700px;
  min-width: 400px;
  background-color: var(--snackbar-background-color);
  color: var(--snackbar-text-color);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: var(--button-border-radius);
}

#snackbar .snackbar-message {
  float: left;
  width: 100%;
}

#snackbar .snackbar-action-button {
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  color: var(--snackbar-action-button-color);
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 5px 10px;
  white-space: nowrap;
}

#snackbar .snackbar-action-button:hover {
  color: var(--snackbar-action-button-hover-color);
  text-decoration: none;
}

#snackbar .snackbar-close-button {
  color: var(--snackbar-close-button-color);
  float: right;
  padding: 0px 0px 0px 12px;
  width: 40px;
  height: 40px;
  user-select: none;
}

#snackbar .snackbar-close-button .material-icons {
  font-size: 40px;
  cursor: pointer;
}

#snackbar .snackbar-close-button:hover {
  color: var(--snackbar-close-button-hover-color);
}

#snackbar.show {
  visibility: visible;
  animation: snackbar-show 0.5s;
}

@keyframes snackbar-show {
  from { bottom:    0; opacity: 0; }
  to   { bottom: 25px; opacity: 1; }
}

#snackbar.hide {
  animation: snackbar-hide 0.5s;
}

@keyframes snackbar-hide {
  from { bottom: 25px; opacity: 1; }
  to   { bottom:    0; opacity: 0; }
}

@media screen and (max-width: 500px) {
  
  @keyframes snackbar-show {
    from { bottom:    0; opacity: 0; }
    to   { bottom: 10px; opacity: 1; }
  }

  @keyframes snackbar-hide {
    from { bottom: 10px; opacity: 1; }
    to   { bottom:    0; opacity: 0; }
  }

  #snackbar {
    bottom: 10px;
  }
  
  #snackbar .snackbar-container {
    margin: 0px 10px;
    padding: 6px 10px 6px 15px;
    font-size: 15px;
    line-height: 22px;
    max-width: 100%;
    min-width: unset;
    width: 100%;
  }

  #snackbar .snackbar-message {
    padding: 4px 0px;
  }

  #snackbar .snackbar-action-button {
    font-size: 18px;
    margin-left: 8px;
  }
  
  #snackbar .snackbar-close-button {
    padding: 0px 0px 0px 2px;
    width: 32px;
    height: 32px;
  }
  
  #snackbar .snackbar-close-button .material-icons {
    font-size: 32px;
  }
  
}

@media screen and (max-width: 400px) {

  #snackbar .snackbar-container {
    font-size: 14px;
    line-height: 21px;
  }

}
